{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>

<ul id="navbar">

	<li><a href="/logout" class="right">Log Out</a></li>
	
	{% if user.getType == "patient" %}

    <li><a href="{% url 'user:eProfile' %}">Edit Profile</a></li>

    {% elif user.getType == "nurse" %}

    {% elif user.getType == "doctor" %}

    {% endif %}
	
    <li><a href="{% url 'user:dashboard'%}">Dashboard</a></li>
	
</ul>

	<h1 id="baseBanner">HealthNet</h1>

	<h2 id="subBanner">Welcome, {% block name %} {{ user.user.get_full_name }} {% endblock %} to HealthNet</h2>

    {% block content %}
    {% endblock %}

</body>

</html>