<div id="contentBox">
 <h2>Profile</h2>
    <ul>
        <li>{{ user.user.get_full_name }}</li>
        <li>Email:{{ user.user.email }}</li>

    {% if user.getType == "patient" %}

        <li>Phone: {{ user.phone }}</li>
        <li>Emergency Contact: {{ user.emr.emergency }}</li>
        <li>Address: {{ user.address }}</li>
        <li>Insurance #: {{ user.insuranceNum }}</li>
        <li>Hospital: {{ user.hospital.name }}</li>
        <li>Doctor: <a href = "{% url 'user:vProfile' 'doctor' user.doctor.id %}">{{ user.doctor.user.get_full_name }}</a></li>
        <li><a href="{% url 'emr:index' user.id %}" class="button">EMR</a></li>

    {% elif user.getType == "doctor" %}

{% comment %} %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DISPLAY DOCTOR'S HOSPITALS %%%%%%%%%%{% endcomment %}
        <h3>Patients</h3>

        {% for p in user.patient_set.all %}

            <li><a href = "{% url 'user:vProfile' 'patient' p.id %}">{{ p.user.get_full_name }}</a></li>

        {% endfor %}

{% comment %} %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% DISPLAY DOCTOR'S HOSPITALS %%%%%%%%%%{% endcomment %}
        <h3>Hosptials</h3>

        {% for h in user.hospitals.all %}

            <li>{{ h.name }}</li>

        {% endfor %}

        <li>Hospital: {{ user.hospital.name }}</li>
    {% endif %}

    {% if user.getType == "nurse" %}
        <h2>Patients</h2>

        {% for p in user.hospital.patient_set.all %}

            <li><a href = "{% url 'user:vProfile' 'patient' p.id %}">{{ p.user.get_full_name }}</a></li>

        {% endfor %}

         <h2>Doctors</h2>

        {% for d in user.hospital.doctor_set.all %}

            <li><a href = "{% url 'user:vProfile' 'doctor' d.id %}">{{ d.user.get_full_name }}</a></li>

        {% endfor %}
    {% endif %}
    </ul>
</div>