{% extends 'User/base.html' %}

{% block calendar %}
{% endblock %}

{% block content %}

    <style type = text/css>
        table {
			margin-top: 40px;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
        }

        tr.editing
        {
            background-color:aqua;
            height: 3em;
        }

        input
        {
            height:2em;
            font-size: 14px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <table>
        <tr>
            <th>Resting BPM</th>
            <th>BloodPressure</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Age</th>
            <th>Comments</th>
        </tr>

    {% for vit in emruser.emr.emrvitals_set.all %}
        <tr>
            <td>{{ vit.restingBPM }}</td>
            <td>{{ vit.bloodPressure }}</td>
            <td>{{ vit.height }}</td>
            <td>{{ vit.weight }}</td>
            <td>{{ vit.age }}</td>
            <td>{{ vit.comments }}</td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}